body{
    background-image: url(https://images.wallpaperscraft.com/image/black_dark_fractal_149686_300x168.jpg);
    font-family: 'Raleway', sans-serif;
    color: red;
    text-align: center;
}
.parent{
    width: 100%;
    text-align: center;
}
.child_1{
    display: inline-block;
    font-size: 45px;
}
.sub_child_1{
    font-size: 18px!important;
    width: 85px;
    text-transform: bold;
}
.child_2{
    display: inline-block;
}
button{
    text-align: center;
    background-color: black;
    color: white;
    width: 80px;
    border-radius: 3px;
    border: 1px solid blue;
}
button:hover{
    color: black;
    background-color: white;
}